body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  background-color: #0d2b68;
  width: 30vw;
  height: 100vh;
  overflow: scroll;

}
.featured-container {
  width: 100%;
  height: 30vh;
  overflow: scroll;

}
.nav-group {
  margin-top: 150px;
}
.nav-item {
  color: #fffaf0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.col_1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-left: -40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}