body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  background-color: #000033;
  width: 25vw;
  height: 73vh;
  
}
.featured-container {
  width: 100%;
}
.about-us-container {
  width: 100%;
  overflow: scroll;
  height: 45vh;

}
.home-page-container {
  overflow: scroll;
  height: 70vh;
}
.about-us-text {
  color: lightblue;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}
.about-us-heading {
  color: lightblue;
  font-weight: bold;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.nav-group {
  margin-top: 150px;
}
.nav-item {
  color: #fffaf0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.col_1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-left: -40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.header{
  cursor: pointer;
  color: #fffaf0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
.background-container {
  background-color: #000045;
}

.content{
  cursor: pointer;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
 }
#nav-body {
  width: 25%;
  height: 100%;
  z-index: 1; /*appears infront of other content*/
  top: 0;
  left: 0;
  overflow-x: hidden;
}

/* SITE CONTAINER CSS*/
.site-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

/* SITE CONTENT CSS*/
#content-body {
  width: 100%;
}

/*HEADER CSS*/
/* Workshop Header */
#Workshop-Header {
  display: block;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url(Microsoft_Logo_Black.jpg);
  background-size: 20%;
  text-align: center;
}

@media screen and (min-width: 64em)
{
  #Workshop-Header {
      padding: 5rem 6rem;
  }
}
@media screen and (max-width: 42em)
{
    #Workshop-Header{
      padding: 2rem 1rem;
  }
}

/*Workshop Header Text*/
#Workshop-Header-text {
  margin-top: 0;
  margin-bottom: 0.1rem;
  background: linear-gradient(to right, #40caca 25%, #be8633 40%, #2583f7 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-size: 2em;
  font-weight: bold;
}
@media screen and (min-width: 64em)
{
  #Workshop-Header-text  {
    font-size: 3.25rem;
  }
}
.fa-arrow-down.open{
  transform: rotate(180deg);
  transition: transform 1s linear;
}
.fa-arrow-down{
  transform: rotate(0deg);
  transition: transform 1s linear;
}
